@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

body
  font-family: 'Roboto', sans-serif

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.navWrapper
  background: white
  padding: 0px 0px 20px 0px !important

.navbar 
  justify-content: center !important
  padding: 15px

.navbar a 
  padding: 5px
  color: grey

.navbar-menu
  justify-content: space-around !important

.mainContent
  background-color: white
  z-index: 1

.is-multiline 
  justify-content: center

.contactForm 
  display: flex
  flex-direction: column
  justify-content: space-between

.contactForm input
  margin: 5px 0px

.postWrapper
  align-items: center











@import "~bulma"
